/**
COLORS:
red: rgb(163,37,0), #A32500, lighter: #BA340B
darkbrown (background): rgb(20,13,10), #680000, text: #460000  
light yellow(font): #f2cb9b
**/

body{
	background-color:rgb(20,13,10); 
	overflow:hidden;
}

xml3d{
	background-color: #009CFC;
}
.loginFont{
	font-family:sans-serif;
	font-size:28px;
	color:#f2cb9b;	
}
button{
	/*font*/
	font-family:sans-serif;
	font-size:22px;	
	letter-spacing:1px;
	color:#460000;
	/*color and border*/
	background-color:#f2cb9b;
	border:none;
	border-radius:5px;
	height:35px;
	width:100px;
	box-shadow:0px 0px 10px #680000;	
}
button:hover{
	box-shadow:0px 0px 15px #FFBC45;
}
button:active{
	box-shadow: 0px 0px 10px #680000 inset;
	}
.overlay{
	display:none;
	background-color:rgba(20,13,10,0.8);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	margin-top:-7px;
	margin-left:-7px;
	z-index:5;
}
.dialogue{
	background-color:rgb(163,37,0);
	border-radius:10px;	
	box-shadow:  0px 0px 20px #A32500;
}
/** login **/
#connection{
	float:left;
	/*position and size*/
	position:absolute;
	height:200px;
	width:600px;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-150px;		
}
#flogin{
	position:absolute;
	left:15px;
	top:30px;
	height:165px;
	width:580px;	
}
.loginInput{
	position:absolute;	
	left:150px;
	height:18px;
	width:250px;		
}
#server-address{
	position:absolute;
	top:5px;
	height:18px;
}
#username{
	position:absolute;
	top:39px;
	height:18px;	
}
#password{
	position:absolute;
	top:74px;
	height:18px;
}
#buttons{
	float:left;
	position:absolute;
	width:100%;
	top:75%;
		
}
#loginButton{
	position:absolute;
	right:10px;
}
#registerButton{
	position:absolute;
	right:120px;
}



/** OVERLAY - register**/

.registerFont{
	font-size:24px;
}
#register{	
	position:absolute;
	height:270px;
	width:600px;
	top:50%;
	margin-top:-200px;
	left:50%;
	margin-left:-300px;	
}
	#register p{
		position:absolute;
		top:15px;
		left:20px;
		font-family:sans-serif;
		font-size:26px;	
		letter-spacing:1px;
		color:#460000;
	}
#fregister{
	position:absolute;
	left:40px;
	top:100px;
	height:170px;
	width:555px;
}
.registerInput{
	position:absolute;	
	left:250px;
	height:18px;	
}
#newUsername{
	position:absolute;
	top:5px;
	height:18px;
}
#newPassword{
	position:absolute;
	top:33px;
	height:18px;
}
#newPasswordConf{
	position:absolute;
	top:62px;
	height:18px;
}
#registerOverlayButton{
	position:absolute;
	bottom:10px; 
	right:10px;
}


/**choosing room**/
#choose{
	position:absolute;
	width:100%;
	height:100%;
}
.squareButton{
	position:absolute;
	background-color:rgb(163,37,0);
	border-radius:10px;	
	box-shadow:  0px 0px 20px #A32500;
	height:200px;
	width:200px;
	top:100px;	
	left:50%;

}
.choosingRoomText{
	/*position and size*/
	position:absolute;
	left:10px;
	top:40px;
	margin-top:0px;
	height:180px;
	width:180px;
	/*font and color*/
	font-family: "League-Gothic", Courier;
	color:#541200;
	font-size: 50px; 
	text-transform: uppercase; 
	text-align: center;
	text-shadow: 0px 2px 3px #DE3E0D;	
}
.squareButton:hover{
	background-color:#BA340B;
	box-shadow:0px 0px 50px #BA340B;
}
.squareButton:active{	
	box-shadow:0px 0px 30px #260000 inset;
	background-color:#FF470F;
}
.squareButtonClicked{
	background-color:#FF470F;
	box-shadow:0px 0px 50px #260000 inset;
}
#chooseRoom{
	margin-left:-450px;
}
#friendRoom{	
	margin-left: -100px;
}
#newRoom{
	margin-left:250px;
}
/**choose a new Room**/
#chooseNewRoom{
	position:absolute;	
	bottom:50px;
	left:50%;
	margin-left:-400px;	
	height:200px;
	width:800px;
}
	#chooseNewRoom p{
		position:absolute;
		height:50px;
		width:600px;
		top:-150px;
		left:25%;
		/*font and color*/
		font-family: sans-serif;
		color:#f2cb9b;
		font-size: 38px; 		
	}
.newRoomContent{	
	float:left;
	background-color:rgba(242, 203, 155,0.8);
	width: 150px;
	height: 150px;
	margin: 20px;
	border-radius: 5px;
	background-repeat:no-repeat;
	background-size:150px 150px;	
}
.newRoomContent:hover{	
	box-shadow: 0px 0px 30px #A32500;
}
.newRoomContent:active{
	box-shadow: 0px 0px 20px #A32500 inset;
}
	#room1{
		background:url(../static/preview/room1.png);		
	}
	#room2{
		background:url(../static/preview/room2.png);		
	}
	#room3{
		background:url(../static/preview/room3.png);		
	}
	#room4{
		background:url(../static/preview/room4.png);		
	}
	
/** OVERLAY - new room **/

#createNewRoom{		
	position:absolute;
	height:250px;
	width:500px;
	top:50%;
	margin-top:-250px;
	left:50%;
	margin-left:-250px;	
}
#roomMesh{	
	background-repeat:no-repeat;
	background-size:120px 120px;
	position:absolute;
	top:10px;
	left: 200px;
	height:120px;
	width:120px;
}
#createNewRoomInput{
	position:absolute;
	top:130px;
	left:20px;
}
	#createNewRoomInput label{
		position:relative;
		top:5px;
	}
	#createNewRoomInput input{
		position:relative;
		margin-left:10px;
		width:300px
	}
#createNewRoomButton{
	position:absolute;
	height:35px;
	width:100px;
	top:200px;
	left:380px;
}
.closeButton{	
	position:absolute;
	height:23px;
	width:23px;
	top:10px;
	right:10px;	
	font-family:sans-serif;
	font-size:18px;
	font-weight:bold;
}
/** choose existing room to edit **/
.editRoom{
	position:absolute;
	top:400px;
	width:900px;		
	left:50%;		
	margin-left:-450px;
	height:50%;
}


.roomList{
	float:left;
	position:relative;
	width:50%;
	height:100%;
	overflow-y:auto;
}

#descriptionEditRoom{
	position:relative;
	top:-30px;
}
	.roomTable{
		position:relative;
		width:100%;			
	}
	.roomTable .table-header{
		font-family:sans-serif;		
		font-size:18px;
		color: #fff0d6;		
	}
	
	.roomTable tbody{
		font-family:sans-serif;
		background-color:#fff0d6;
		color:#460000;			
	}
	tr{
		height:30px;
	}
	td{
		height:15px;
		vertical-align:middle;
	}
	.row:hover{		
		color: #fff0d6;	
		background: #a32500 url(images/ui-bg_highlight-soft_75_a32500_1x100.png) 50% 50% repeat-x;	
	}
	.rowActive{
		color:#a32500;
		background-color:#f2cb9b;
	}
/** preview of room and button to enter room 
for all tables the same**/
#previewAndButton{
	position:absolute;
	top:420px;
	height:50%;
	left:50%;
	width:450px;
}
.roomPreview{		
	float:left;
	position:relative;
	height:200px;
	width:200px;	
	left: 50%;
	margin-left: -100px;
	background-repeat:no-repeat;
	background-size:200px 200px; 
}
#editRoomButton{	
	width: 150px;
	position:absolute;
	top: 220px;
	left:50%; 
	margin-left:-75px;	
}

/** choose shared rooms**/
#editSharedRooms{
	position:absolute;
	top:350px;
	z-index:-1;
}
#editSharedRoomsButtons{
	position:absolute;
	left:145px;
	height:40px;
	top:-20px;
	width:610px;
	z-index:3;
}
.sharedRoomsButton{
	position:relative;
	width: 300px;
	height: 35px;
	font-size:22px;		
	border-radius:3px;
	background-color:#a32500;
	box-shadow: 0px 0px 10px #a32500;		
}
.sharedRoomsButtonActive{
	box-shadow: 0px 0px 10px #680000 inset;
	background-color:#FF470F;
	border:none;
}
.sharedRoomsButton:hover{
	background-color:#ba340b;
	box-shadow: 0px 0px 20px #FF470F;	
}

.sharedRoomsList{
	position:absolute;
	height:50%;
	width:100%;
	top:50px;
}

.permissionButton{
	font-size:14px;	
	width:130px;
	height:20px;
	position:relative;
	left:50%;
	margin-left:-65px;
	box-shadow: 0px 0px 0px #680000 inset;
}

#descriptionOtherRooms{
	position:relative;
	top:-15px;
	font-size:20px;
}
#userNotOnline{
	
	color:#ba340b;
	position:absolute;
	top:250px;
	left:25%;
	margin-left:-50px;	
	z-index:3;
}


/** search for new Rooms to visit **/
#fsearchRoom{
	font-size:24px;
	
}
#usernameSearchLabel{
	position:relative;
	float:left;
	top:-3px;
}
#usernameSearch{
	position:relative;
	float:left;
	left:30px;
	width:300px;
	
}
#searchRoomButton{
	position:absolute;	
	height:28px;
	font-size:20px;
	width:80px;
	left:470px;	
	top:-1px;
}
#searchMessage{
	position:absolute;
	top:50px;
	left:0;
	font-size:20px;
}

#visitNewRoomListTable{
	position:absolute;
	width:50%;
	top:40px;
}
#previewAndButtonSearch{
	position:absolute;
	width:50%;
	height:100%;
	left:50%;
	top:60px;
}
#askPermissionButton{
	position:absolute;
	width: 200px;
	top: 250px;
	left:50%;
	font-size:20px; 
	margin-left:-100px;	
}

/** room **/
#room{
	position:absolute;	
	width:100%;
	height:100%;
	margin-top:-8px;
	margin-left:-8px;	
	z-index:-1;
}
#name{
	z-index:1;
}
/** buttons **/
.roomButton{
	/*position and size*/
	position:relative;
	margin: 0 5px;
	top:10px;
	width:60px;	
	height:60px;	
	left:0;
	/*color and border*/
	border-radius:13px;
	box-shadow:  1px 1px 10px #680000;
	background-size:55px 55px;	
	background-repeat:no-repeat;
	background-position:center;
}
.roomButton:hover{
	box-shadow:  1px 1px 20px #680000;
}
.roomButton:active{
	box-shadow: 0px 0px 20px #A32500 inset;
}
#roomButtons{
	position:absolute;
	top:0px;
	right:10px;
	height:100px;
	margin-top:0px;
	
}
#camButton{
	background-image:url(../static/icons/cam.png);
	background-size:65px 65px;
}
	#camButton:hover{
		background-image:url(../static/icons/camActive.png);	
	}
#listButton{
	background-image:url(../static/icons/list.png);	
}
	#listButton:hover{
		background-image:url(../static/icons/listActive.png);
	}
#homeButton{
	background-image:url(../static/icons/home.png);
	background-size:50px 50px;	
}
	#homeButton:hover{
		background-image:url(../static/icons/homeActive.png);
	}
#logoutButton{
	background-image:url(../static/icons/logout.png);
	background-position:center center;
	background-size:50px 50px;
}
	#logoutButton:hover{
		background-image:url(../static/icons/logoutActive.png);
	}
	
#logoutButton2{
	height:50px;
	width:50px;
	background-image:url(../static/icons/logout.png);
	background-position:4px center;
	background-size:40px 40px;
}
	#logoutButton2:hover{
		background-image:url(../static/icons/logoutActive.png);
	}

/** camera menu **/
.camButton{
	position:relative;
	font-size:16px;
	margin: 0 5px;	
}
#cameraMenu{
	position:absolute;
	top:50px;
	right:15px;
	height:250px;
	width:282px;
	z-index:-1;
}

#predefinedViews{
	position:relative; 
	left: 10px; 
	top: 30px;
}
#topView{
	width:50px;
}

#firstPersonView{
	
	width:120px;
}

/** menu **/
#menu-type{
	position:absolute;
	width:20%;
	height:500px;
	top:20%;
	left:0%;	
	overflow:hidden;
}
	.category{
		text-decoration:none;
		font-family:sans-serif;
		font-size:18px;			
	}	
	.subcategory{
		margin-top: 10px;
		text-decoration:none;
		font-family:sans-serif;
		font-size:16px;	
		color:#460000;	
		line-height:25px;
	}
	.subcategory:hover{
		color:#c93c00;
	}
	
/** browser **/	
#furnitureBrowser{		
	position:absolute;
	width:790px;
	height:140px;	
	bottom:0%;
	left:50%;
	margin-left:-395px;
}

#furnitureContent{	
	position:absolute;
	height:100%;
	width:100%;	
	float:left;
	top:20px;
	overflow:hidden;	
	border-radius:10px;		
}
	#furnitureContentList{
		/* size of all pieces together*/				
		position:absolute;		
		left:-30px;
		list-style-type:none;
	}
	#furnitureContent li{
		float:left;
		margin:0 15px;
		cursor:pointer;
	}
	#furnitureContent .browserContent:hover{
		box-shadow: 0px 0px 20px #A32500;
	}
	#furnitureContent .browserContent:active{
		/*TODO*/
	}
.browserContent{ /* size of one item: 130px*/
	float:left;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	background-repeat:no-repeat;
	background-size:90px 90px;	
	background-position:center;  	
}

.browserButton{
	position:absolute;
	top:65px;	
	height:30px;
	width:30px;
	background-size:30px 30px;
}
#prev{	
	float:left;
	left:-30px;
	background-image:url(../static/icons/prev.png);	
}
	#prev:hover{
		background-image:url(../static/icons/prevActive.png);
	}
	#prev:active{
		background-image:url(../static/icons/prev.png);
	}
#next{
	float:right;
	right:-30px;
	background-image:url(../static/icons/next.png);	
}
	#next:hover{
		background-image:url(../static/icons/nextActive.png);
	}
	#next:active{
		background-image:url(../static/icons/next.png);
	}




